<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="HPH.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
	<appSettings>
		<!-- DATOS CONEXION -->
		<add key="ENVIRON" value="PROD" />
		<add key="PROVEEDOR_ADONET" value="Microsoft.Data.SqlClient" />
		<add key="SERVER" value="Server=(localdb)\MSSQLLocalDB;Integrated Security=true;AttachDbFileName=E:\DESARROLLOS\Salud\CHPH\DataBase\CHPH.mdf;" />
	</appSettings>

</configuration>